name: deploy to digitalOcean
run-name: Deploy to DigitalOcean by @${{ github.actor }}
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
       - name: Deploy Flask app
         uses: appleboy/ssh-action@v0.1.2
         with:
           host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
           key: ${{secrets.SSH_KEY}} # Private or public key of the server
           username: ${{ secrets.SSH_USERNAME }} # User of the server you want to ssh into
           script: |
             if [ -d "$HOME/language-APIs/" ]; then
               cd $HOME/language-APIs/
               ./deploy-flask.sh
               echo 'Deployment successful to digital ocean'
             else
               echo 'repo does not exist!'
               exit 1
             fi
